@import url('https://fonts.googleapis.com/css?family=Nunito');

body, html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.landing-content-wrapper {
  height: 100vh;
  padding-top: 6.5%;
  background: linear-gradient(to bottom right, #1b9a9e, #38a98b) no-repeat;
  background-size: 400% 400%;

  animation: GradientAnimation 15s ease infinite;
}

/* ================== */
/* ===== HEADER ===== */
/* ================== */
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: 2px solid #2B2F37;
}

/* =================== */
/* ===== LANDING ===== */
/* =================== */
.has-error .ant-form-explain, .has-error .ant-form-split {
  color: white;
}

.scroll-button-row, .arrow-down-row {
  margin-top: 3.5%;
}

.scroll-button {
  width: 100%;
}

/* ====================== */
/* ===== ONBOARDING ===== */
/* ====================== */
.welcome-onboarding-wrapper {
  background: #2B2F37;
  padding: 10% 10% 10% 10%;
  text-align: left;
  height: 85vh;
}

.welcome-onboarding-wrapper p, .welcome-onboarding-wrapper h1 {
  color: white;
}

.welcome-onboarding-wrapper p {
  font-size: 125%;
}

.mobile-welcome-onboarding-wrapper {
  background: #2B2F37;
  padding: 10% 10% 10% 10%;
  text-align: center;
}

.mobile-welcome-onboarding-wrapper p, .mobile-welcome-onboarding-wrapper h1 {
  color: white;
}

.mobile-welcome-onboarding-wrapper p {
  font-size: 125%;
}

.mobile-welcome-onboarding-wrapper img {
  padding: 25%;
}

.charities-onboarding-wrapper {
  background: #F1F2F2;
  padding: 10% 10% 10% 10%;
  text-align: right;
  color: #2B2F37;
  height: 85vh;
}

.charities-onboarding-wrapper p, .charities-onboarding-wrapper h1 {
  color: #2B2F37;
}

.charities-onboarding-wrapper p {
  font-size: 125%;
}

.mobile-charities-onboarding-wrapper {
  background: #F1F2F2;
  padding: 10% 10% 10% 10%;
  text-align: center;
}

.mobile-charities-onboarding-wrapper p, .mobile-charities-onboarding-wrapper h1 {
  color: #2B2F37;
}

.mobile-charities-onboarding-wrapper p {
  font-size: 125%;
}

.mobile-charities-onboarding-wrapper img {
  padding: 25%;
}

.roundups-onboarding-wrapper {
  background: #4ABFAB;
  padding: 10% 10% 10% 10%;
  text-align: left;
  height: 85vh;
}

.roundups-onboarding-wrapper p, .roundups-onboarding-wrapper h1 {
  color: white;
}

.roundups-onboarding-wrapper p {
  font-size: 125%;
}

.mobile-roundups-onboarding-wrapper {
  background: #2B2F37;
  padding: 10% 10% 10% 10%;
  text-align: center;
}

.mobile-roundups-onboarding-wrapper p, .mobile-roundups-onboarding-wrapper h1 {
  color: white;
}

.mobile-roundups-onboarding-wrapper p {
  font-size: 125%;
}

.mobile-roundups-onboarding-wrapper img {
  padding: 25%;
}


/* ================= */
/* ===== LOGIN ===== */
/* ================= */
.login-content-wrapper {
  padding: 7.5%;
}

/* =================== */
/* ===== PROFILE ===== */
/* =================== */
.profile-page-header {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  min-width: 100%;
  background: linear-gradient(to bottom right, #1b9a9e, #38a98b) no-repeat;
  background-size: 200% 80vh;

  animation: GradientAnimation 15s ease infinite;
}

.profile-page-header p {
  text-align: center;
  color: white;
  font-size: 1.45rem;
}

.profile-progress-bar {
  margin-bottom: 23.2px;
}

.profile-page-body {
  padding: 1.5% 4.5% 4.5% 4.5%;
}

.charity-list {
  padding: 1.5%;
}

.charity-list-header p {
  text-align: center;
  font-size: 1.25rem;
}

.transaction-list {
  padding: 1.5%;
}

.transaction-list-header p {
  text-align: center;
  font-size: 1.25rem;
}

.transaction-card {
  border: 2px solid #2B2F37;
  border-radius: 4px;
  margin-bottom: 1.5%;
}

.transaction-card-date-row {
  border-bottom: 2px solid #2B2F37;
  padding-top: 1.5%;
}

.transaction-card-date-row {
  color: white;
  background: #2B2F37;
}

.transaction-card-info-row {
  padding-top: 2.5%;
  background: white;
}

/* ==================== */
/* ===== GRADIENT ===== */
/* ==================== */
@keyframes GradientAnimation {
  0%{background-position:0% 0%}
  50%{background-position:100% 0%}
  100%{background-position:0% 0%}
}
