@import url('https://fonts.googleapis.com/css?family=Nunito');

.landing-content-wrapper {
  height: 100vh;
  padding-top: 7.5%;
  background: linear-gradient(to bottom right, #1b9a9e, #38a98b) no-repeat;
  background-size: 400% 400%;

  animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 0%}
  50%{background-position:100% 0%}
  100%{background-position:0% 0%}
}

/* ================== */
/* ===== HEADER ===== */
/* ================== */
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: 2px solid #2B2F37;
}

/* ================= */
/* ===== LOGIN ===== */
/* ================= */
.login-content-wrapper {
  padding: 7.5%;
}

/* =================== */
/* ===== PROFILE ===== */
/* =================== */
.profile-content-wrapper {
  padding: 7.5%;
}
